@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

html {
    background: linear-gradient(to left, blue, silver, blue, silver, blue, blue, silver, blue, silver, blue);
}

* {
    font-family: 'Lacquer', cursive;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
    font-size: 20px;
    padding: 16px;
    background: linear-gradient(
        to right,
        black,
        #301d0d,
        black,
        #301d0d,
        black,
        #301d0d ,
        black
    );
}

.nav-bar a {
    color: silver;
}

.newsletter-container,
.newsletter-image,
.newsletter-info,
.newsletter-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.newsletter-image img {
    border-radius: 20px;
    margin-top: 80px;
    border: 5px solid black;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.newsletter-info h1 {
    font-size: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.newsletter-form,
.newsletter-list {
    background-color: silver;
    border-radius: 20px;
    border: 5px solid black;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.newsletter-form h3,
.newsletter-list h3 {
    font-size: 20px;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.newsletter-list {
    margin-bottom: 10px;
}

.newsletter-form label,
.newsletter-form input,
.newsletter-form textarea,
.button {
    font-size: 20px;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 20px;
}

.newsletter-form textarea {
    width: 600px;
    height: 250px;
}

.button {
    margin-bottom: 30px;
}


.newsletter-list ul,
.newsletter-list li {
    font-size: 20px;
    list-style-type: none;
}

.newsletter-something {
    display: flex;
    justify-content: center;
}