@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

* {
    font-family: "Lacquer", cursive;
    font-weight: bold;
}

html {
    background-color: black;
    color: silver;
}

.newsletter-display {
    display: flexbox;
}

.newsletter-display p {
    font-size: 300%;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
}

.newsletter-display img {
    width: 80%;
}