html {
    background-color: #301d0d;
}

.nav-bar,
.main-display,
.display-container,
.github-details,
.github-container,
.about-display,
.about-container,
.joinus-display,
.joinus-container,
.joinus-form,
.discord-display,
.discord-container,
.game-display,
.game-container,
.coding-display,
.coding-container,
.rule-display,
.rule-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    width: 900px;
}

.nav-bar a {
    color: #e2e2e0;
    border: 1px solid #e2e2e0;
    border-radius: 20px;
    padding: 16px;
    font-size: 20px;
    text-align: center;
    width: 100px;
}

.platform-image img {
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    margin-top: 20px;
}

.github-container,
.about-container,
.joinus-container,
.joinus-form,
.joinus-display,
.discord-display,
.discord-container,
.game-container,
.game-display,
.coding-container,
.rule-container {
    flex-direction: column;
}

.github-container a,
.about-container a,
.coding-container a,
.joinus-container a,
.joinus-container p,
.github-container h5,
.about-container p,
.about-container li,
.about-container ul,
.discord-container li,
.punish-table p,
.coding-container p,
.rule-container ul,
.rule-container li {
    color: #e2e2e0;
    text-align: center;
    width: 1000px;
}

.discord-container  p {
    color: #e2e2e0;
    text-align: center;
    width: 1000px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.game-container figcaption,
.game-container figcaption a,
.game-container h1,
.game-container h3,
.joinus-container h1,
.about-container h1,
.about-container h3,
.github-container h2,
.discord-container h3,
.punish-table h3,
.coding-container h3,
.coding-container h1,
.rule-container h3,
.rule-container h1,
.rule-container h5 {
    font-size: 30px;
    color: #746754;
    text-align: center;
}

.discord-container h1 {
    font-size: 70px;
    color: #746754;
    text-align: center;
}

.about-container ul,
.about-container li,
.discord-container li,
.rule-container li {
    list-style-type: none;
}

.rule-container h5,
.joinus-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.joinus-container p {
    width: 500px;
}

.joinus-form label {
    color: #998463;
    font-size: 30px;
    text-align: center;
    width: 800px;
}

.joinus-form input {
    color: black;
    border-radius: 20px;
    font-size: 30px;
    width: 800px;
    padding: 16px;
}

.joinus-form select {
    border-radius: 20px;
    font-size: 30px;
    width: 838px;
    padding: 16px;
}

.button {
    margin-top: 40px;
}

.punish-table {
    border: 3px solid #5f462d;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.punish-table p {
    margin-left: auto;
    margin-right: auto;
}

.punish-table td {
    color: #998463;
    text-align: center;
    border: 1.5px solid #5f462d;
    width: 409.5px;
    padding: 16px;
}

.roles {
    border: 3px solid #5f462d;
    font-size: 20px;
}

.roles td {
    color: #998463;
    text-align: center;
    border: 1.5px solid #5f462d;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.roles p {
    margin-left: auto;
    margin-right: auto;
}