<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gawth3r Platform</title>
    <link rel="stylesheet" href="./router.css">
    <link rel="stylesheet" href="../../assets/nav-bar.css">
    <link rel="icon" href="../../assets/images/gawth3r_one.jpg">
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <router-display></router-display>
      <slideshow-display></slideshow-display>
    </div>
    <script src="../../assets/main.js"></script>
    <script src="./routerDisplay.js"></script>
    <script src="./slidesShow.js"></script>
    <script>const mountedApp = app3.mount('#app')</script>
  </body>
</html>