@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

* {
    font-family: 'Lacquer', cursive;
    font-weight: bold;
}

html {
    background-color: black;
    color: silver;
}

#h {
    background-color: silver;
}

.router-display,
.router-display #box-1,
.router-display #box-2,
.slideshow {
    display: flexbox;
}

.router-display #box-1 h1 {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 250%;
}

.mySlides {
    text-align: center;
    margin-top: 2%;
}

.mySlides img {
    border-radius: 20px;
}

.text,
.text a {
    font-size: 180%;
    color: black;
    text-align: center;
}