<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gawth3r Platform - Login Extension</title>
    <link rel="stylesheet" href="./loginDisplay.css">
    <link rel="icon" href="../../assets/images/gawth3r_one.jpg">
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <a href="../../index.html">Home</a>
        <a href="../art/ArtExtension.html">Art</a>
        <a href="../coding/CodingExtension.html">Coding</a>
        <a href="../discord/DiscordExtension.html">Discord</a>
        <a href="../games/GamingExtension.html">Gaming</a>
        <a href="../rules/RulesExtension.html">Rules</a>
        <a href="../about/AboutExtension.html">About</a>
        <a href="../newsletter/NewsletterExtension.html">Newsletters</a>
        <a href="./LoginExtension.html">Sign In</a>
      </div>
      <login-display></login-display>
    </div>
    <script src="../../main.js"></script>
    <script src="./loginDisplay.js"></script>
    <script>const mountedApp = app8.mount('#app')</script>
  </body>
</html>