@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

html {
    background: linear-gradient(to right, #2A202E, #4F2361, #7F5281, #4F2361, #2A202E);
}

* {
    font-family: 'Lacquer', cursive;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    font-size: 20px;
    background: linear-gradient(
        to right,
        black,
        #301d0d,
        black,
        #301d0d,
        black,
        #301d0d ,
        black
    );
}

.nav-bar a {
    color: silver;
}

.discord-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.discord-display h1 {
    font-size: 30px;
    width: 740px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.discord-display p {
    font-size: 20px;
    width: 600px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 2px;
}

.discord-display table {
    background-color: gray;
    border: 5px solid black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    font-size: 20px;
    padding: 10px;
}

.discord-display #box-1 th,
.discord-display #box-1 td {
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
}