<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gawth3r Platform - Rules Extension</title>
    <link rel="icon" href="../../assets/images/gawth3r_one.jpg">
    <link rel="stylesheet" href="./rulesDisplay.css">
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <a href="../../index.html">Gawth3r Home</a>
        <a href="../art/ArtExtension.html">Art Extension</a>
        <a href="../coding/CodingExtension.html">Coding Extension</a>
        <a href="../discord/DiscordExtension.html">Discord Extension</a>
        <a href="../games/GamingExtension.html">Gaming Extension</a>
        <a href="./RulesExtension.html">Rules Extension</a>
        <a href="../about/AboutExtension.html">About Gawth3r</a>
        <a href="../newsletter/NewsletterExtension.html">Gawth3rs Newsletters</a>
        <a href="../login/LoginExtension.html">Sign In</a>
      </div>
      <rules-display></rules-display>
    </div>
  </body>
  <script src="../../main.js"></script>
  <script src="./rulesDisplay.js"></script>
  <script>const mountedApp = app6.mount('#app')</script>
</html>