@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

* {
    font-family: 'Lacquer', cursive;
    font-weight: bold;
}

html {
    background-color: black;
    color: silver;
}

.home-display {
    display:flexbox;
}

.home-display #box-1 h1,
.home-display #box-1 h3 {
    color: silver; 
    text-align: center;
}

.home-display #box-1 h1 {
    font-size: 240%;
}

.home-display #box-1 h3 {
    font-size: 180%;
}

.home-display #box-1 p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    text-align: center;
    letter-spacing: 2%;
}

.home-display #box-1 a {
    color: silver;
}

.home-display #box-1 p a {
    color: silver;
}

.home-display #box-2 {
    margin-left: auto;
    margin-right: auto;
}