.App {
  background-color: black;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(
    to bottom,
    #282c34,
    black,
    #282c34
  );
  width: 84%;
  display: flexbox;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.App-header {
  min-height:20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  font-size: 90%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  background-color: black;
  border: 3px solid darkgray;
  border-radius: 20px;
  text-align: center;
}

.nav-bar a {
  color: silver;
  background: linear-gradient(
    to right,
    gray,
    black,
    gray
  );
  width: 17%;
  font-size: 110%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.home-display,
.art-display,
.about-display,
.discord-display,
.games-display,
.newsletter-display,
.programming-display,
.reviews-display,
.router-display,
.signin-display {
  text-align: center;
  display: flexbox;
  background: linear-gradient(
    to bottom,
    #282c34,
    black,
    #282c34
    
  );
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 2%;
  margin-top: 2%;
}

.home-display h1,
.about-display h1 {
  font-size: 250%;
  color: silver;
}

.about-display #box-1 p,
.about-display #box-2 p {
  text-align: center;
  margin-right: auto;
  color: darkgray;
  width: 100%;
}

.home-display h3,
.about-display #box-1 p {
  font-size: 150%;
  margin-left: auto;
}

.home-display p,
.about-display #box-2 p {
  font-size: 110%;
  border-radius: 20px;
  padding: 2%;
  margin-left: -2%;
}

.home-display,
.art-display,
.discord-display,
.games-display,
.newsletter-display,
.programming-display,
.reviews-display,
.router-display,
.signin-display {
  color: darkgray;
}

