@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

html {
    background: linear-gradient(to right, #5EBEC4, #F92C85, #5EBEC4, #F92C85, #5EBEC4);
}

* {
    font-family: 'Lacquer', cursive;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 16px;
    background: linear-gradient(
        to right,
        black,
        #301d0d,
        black,
        #301d0d,
        black,
        #301d0d ,
        black
    );
}

.nav-bar a {
    color: silver;
}

.game-display {
    display: flex;
    justify-content: center;
}

.game-display img {
    width: 500px;
    height: 500px;
}

.game-display h1 {
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-top: 90px;
    font-size: 40px;
}

.game-display p {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    margin-top: 20px;
    font-weight: bold;
    font-size: 35px;
    word-spacing: 2px;
}