<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gawth3r Platform - Gaming Extension</title>
    <link rel="stylesheet" href="./gamingDisplay.css">
    <link rel="icon" href="../..//assets/images/gawth3r_one.jpg">
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <a href="../../index.html">Gawth3r Home</a>
        <a href="../art/ArtExtension.html">Art Extension</a>
        <a href="../coding/CodingExtension.html">Coding Extension</a>
        <a href="../discord/DiscordExtension.html">Discord Extension</a>
        <a href="./GamingExtension.html">Gaming Extension</a>
        <a href="../rules/RulesExtension.html">Rules Extension</a>
        <a href="../about/AboutExtension.html">About Gawth3r</a>
        <a href="../newsletter/NewsletterExtension.html">Gawth3rs Newsletters</a>
        <a href="../login/LoginExtension.html">Sign In</a>
      </div>
      <game-display></game-display>
    </div>
    <script src="../../main.js"></script>
    <script src="./gamingDisplay.js"></script>
    <script>const mountedApp = app5.mount('#app')</script>
  </body>
</html>