<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gawth3r Platform - Gaming Extension</title>
    <link rel="stylesheet" href="./gamingDisplay.css">
    <link rel="icon" href="../..//assets/images/gawth3r_one.jpg">
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <a href="../../index.html">Home</a>
        <a href="../art/ArtExtension.html">Art</a>
        <a href="../coding/CodingExtension.html">Coding</a>
        <a href="../discord/DiscordExtension.html">Discord</a>
        <a href="./GamingExtension.html">Gaming</a>
        <a href="../rules/RulesExtension.html">Rules</a>
        <a href="../about/AboutExtension.html">About</a>
        <a href="../newsletter/NewsletterExtension.html">Newsletters</a>
        <a href="../login/LoginExtension.html">Sign In</a>
      </div>
      <game-display></game-display>
      <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 / 10</div>
            <img src="../../assets/images/factorio.jpg" style="width:100%">
            <div class="text">
              <a target="_blank" href="https://www.factorio.com/">Link</a><br>
              Factorio is a game about building and creating automated 
              factories to produce items of increasing complexity, within 
              an infinite 2D world. Use your imagination to design your 
              factory, combine simple elements into ingenious structures, 
              and finally protect it from the creatures who don't really 
              like you.
            </div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 10</div>
            <img src="../../assets/images/minecraft.jpg" style="width:100%">
            <div class="text">
              <a target="_blank" href="https://www.minecraft.net/en-us">Link</a><br>
              Minecraft is a video game in which players create and break 
              apart various kinds of blocks in three-dimensional worlds. 
              The game’s two main modes are Survival and Creative. In 
              Survival, players must find their own building supplies and 
              food. They also interact with blocklike mobs, or moving creatures.
            </div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 10</div>
            <img src="../../assets/images/summonersWar.jpg" style="width:100%">
            <div class="text">
              <a target="_blank" href="https://sw.com2us.com/en">Link</a><br>
              Summoners War is a turn-based MMORPG where players collect and 
              summon a myriad of creatures and beasts to fight. It features a 
              robust summoning system that allows for in-depth customization 
              and supports a variety of playstyles.
            </div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 10</div>
            <img src="../../assets/images/wow.jpg" style="width:100%">
            <div class="text">
              <a target="_blank" href="https://worldofwarcraft.com/en-us/">Link</a><br>
              Set in the fictional world of Azeroth, WoW allows players to create 
              avatar-style characters and explore a sprawling universe while interacting 
              with nonreal players—called nonplayer characters (NPCs)—and other real-world 
              players (PCs).
            </div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 10</div>
            <img src="../../assets/images/under_construction.png" style="width:100%">
            <div class="text">
              <a target="_blank" href="./gameFiles/Hangman/hangman.html">Link</a><br>
              Hangman
            </div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 10</div>
            <img src="../../assets/images/under_construction.png" style="width:100%">
            <div class="text">Under Construction</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">7 / 10</div>
            <img src="../../assets/images/under_construction.png" style="width:100%">
            <div class="text">Under Construction</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">8 / 10</div>
            <img src="../../assets/images/under_construction.png" style="width:100%">
            <div class="text">Under Construction</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">9 / 10</div>
            <img src="../../assets/images/under_construction.png" style="width:100%">
            <div class="text">Under Construction</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">10 / 10</div>
            <img src="../../assets/images/under_construction.png" style="width:100%">
            <div class="text">Under Construction</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
          <span class="dot" onclick="currentSlide(6)"></span>
          <span class="dot" onclick="currentSlide(7)"></span>
          <span class="dot" onclick="currentSlide(8)"></span>
          <span class="dot" onclick="currentSlide(9)"></span>
          <span class="dot" onclick="currentSlide(10)"></span>
      </div>
    </div>
    <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      // Next/previous controls
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      // Thumbnail image controls
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
      }
    </script>

    <script src="../../main.js"></script>
    <script src="./gamingDisplay.js"></script>
    <script>const mountedApp = app5.mount('#app')</script>
  </body>
</html>