@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

* {
  font-family: 'Lacquer', cursive;
  font-weight: bold;
}

html {
    background: linear-gradient(to right, #5EBEC4, #F92C85, #5EBEC4, #F92C85, #5EBEC4);
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 16px;
    background: linear-gradient(
        to right,
        black,
        #301d0d,
        black,
        #301d0d,
        black,
        #301d0d ,
        black
    );
}

.nav-bar a {
    color: silver;
}

.game-display {
    display: flex;
    justify-content: center;
}

.game-display #box-1 {
    display: flex;
    justify-content: center;
}

.game-display img {
    width: 500px;
    height: 500px;
}

.game-display h1 {
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-top: 50px;
    font-size: 30px;
}

.game-display p {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
    word-spacing: 2px;
}

.text a {
  color: white;
  font-size: 30px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;  
  position: relative;
  margin: auto;
  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  background-color: silver;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}