@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

* {
    font-family: 'Lacquer', cursive;
    font-weight: bold;
}

html {
    background-color: black;
    color: silver;
}

.about-display {
    display: flexbox;
}

.about-display #box-1 p {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 250%;
}

.about-display #box-2 p {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 140%;
    background-color: #785e3f;
    border-radius: 20px;
    padding: 2%;
}

.about-display #box-2 a {
    text-align: center;
    font-size: 100%;
    color: silver;
}